/* 
    ------------------------------------------
    Nombre del proyecto: BeMaster - Prueba ingreso
    Desarrollador: John Wilmer Chavarro Urrea
    Version: 0.1.1
    Fecha inicio: 10/05/2022
    ------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Ranchers&family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Colores*/
    --color-primary : #1DB9C3 ;
    --color-secondary: #06FF00;
    --color-accent : #787A91;
    --color-white: #fff;

    /*Fuentes*/
    --font-primary: 'Ranchers', cursive;
    --font-secondary: 'Flavors', cursive;
    --font-text: 'Roboto Condensed', sans-serif;
}